@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

.flex-center {
    @apply flex items-center justify-center;
}

.title-font{
  @apply font-["Yellowtail"] font-black text-5xl
}

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

